.env
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
uploads/
qdrant_snapshots/
qdrant_storage/
docker-compose.yml
Dockerfile
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.tmp
*.temp
*.swp
*.log
*.db
*.pyc
*.pyo
models/
